html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* The first fourth of the project*/
.header {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    font-family: Helvetica, sans-serif;
    padding-top: 10px;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 14px;
    font-size: 13px;
}

.first {
    background: #1F2937;
    padding-bottom: 120px;
    padding-left: 150px;
    padding-right: 150px;
}

.first-content {
    display: flex;
    align-items: center;
    padding-top: 60px;
    gap: 30px;
}

.first-first-half {
    flex: 1 1 0;
}

.first-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    /* margin-bottom: 0; */
}

.first-paragraph {
    font-size: 16px;
    color: #F9FAF8;
    /* margin-top: 2px; */
    margin-bottom: 35px;
    font-family: sans-serif;
}

img {
    max-height: 300px;
}

.first-image {
    flex: 0 0 auto;
    /* color: #F9FAF8; */
    /* font-size: 16px; */
    /* background-color: grey; */
    /* max-width: 300px;
    max-height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.first-button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    color: #F9FAF8;
    font-family: sans-serif;
}

/* The second fourth of the project*/

.second {
    background-color: white;
    padding: 100px;
}

.second-header {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 900;
    color: #1F2937;
}

.empty-box {
    /* max-height: 80px; */
    max-width: 80px;
    border: solid #3882F6 2px;
    border-radius: 8px;
    flex: 0 0 auto;
}

/* .empty-box {
    min-height: 80px;
    min-width: 80px;
    border: solid #3882F6 2px;
    border-radius: 8px;
    flex: 0 0 auto;
} */

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.subtext-one,
.subtext-two,
.subtext-three,
.subtext-four {
    text-align: center;
    width: 80px;
    font-size: 10px;
    flex-shrink: 0;
    font-family: sans-serif;
}

.subtexts {
    display: flex;
    justify-content: center;
    gap: 45px;
    /* margin-left: -37px; */
    padding-right: 37px;
    margin-top: 2px;
}

/* Part three out of four*/

.third {
    background-color: #E5E7EB;
    padding: 100px;
}

.third-paragraph {
    text-align: start;
    font-family: sans-serif;
    font-size: 22px;
    font-style: italic;
    color: #1F2937;
}

.person-quoted {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-top: -15px;
    margin-right: 35px;
    font-family: sans-serif;
}

/* Part four of four */

.fourth {
    background: white;
    padding: 100px;
}

.fourth-field {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    background-color: #3882F6;
    border-radius: 8px;
    padding-left: 140px;
    padding-right: 140px;
}

.fourth-text {
    display: flex;
    flex-direction: column;
    flex: 1 0 200px;
}

.fourth-header {
    margin-bottom: 0px;
    color: #E5E7EB;
    font-family: sans-serif;
}

.fourth-paragraph {
    margin-top: 5px;
    color: #E5E7EB;
    font-family: sans-serif;
}

.fourth-button {
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border-color: #E5E7EB;
    border-style: solid;
    background-color: #3882F6;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/* Finally, the footer: */

.footer {
    background-color: #1F2937;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    font-family: sans-serif;
}